<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>欢迎</title>
    <!-- Bootstrap -->
    <link href="/bootStrap3/css/bootstrap.css" rel="stylesheet">
    <style>
        .juzhong {
            margin-left: auto;
            margin-right: auto;
            margin-top: 200px;
        }
        .send {
            margin-left: auto;
            margin-right: auto;
        }
        .table-juzhong {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>

<div class="row juzhong" style="width: 500px">
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" id="inpVal" placeholder="搜索好友...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="btn">Go!</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<!---->
<div class="table-juzhong" align="center">
    <table class="table table-bordered" style="height: 500px;width: 500px">
        <tr>
            <th>hello world</th>
            <th id="view"></th>
        </tr>
    </table>
</div>


<div class="send"  style="width: 1000px;">
<div class="col-lg-6">
    <div class="input-group">
        <input type="text" class="form-control" id="chatText" placeholder="发送消息...">
        <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="chat">发送</button>
            </span>
    </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
</div><!-- /.row -->



<script>



</script>
<script type="text/javascript" src="/jquery/jquery-3.2.1.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/bootStrap3/js/bootstrap.js"></script>
<script>
    $(function (){
        $("#btn").click(function () {
            var userId =$("#inpVal").val();
            console.log(userId);
            $.ajax({
                url: "http://localhost:8017/login/"+userId,
                success: function (result) {
                    console.log(result);
                    var ws = new WebSocket("ws://localhost:8017/myHandler");
                    ws.onopen = function () {
                        console.log("onpen");
                        ws.send("{}");
                    };
                    ws.onclose = function () {
                        console.log("onclose");
                    };

                    ws.onmessage = function (msg) {
                        console.log(msg.data);
                        view(msg.data);
                    }
                }
            });
        });
        function view(data){
            $("#view").append(data)
        }
        $("#chat").click(function () {
            var userId =$("#inpVal").val();
            var message = $("#chatText").val();
            console.log(message);
           // location.href="http://localhost:8082/message?message="+message;
            $.ajax({
                url: "http://localhost:8017/message",
                data: {"id":userId,"message":message},
                success: function (data) {
                    console.log(data)
                }
            })
        })
    });


</script>


</body>
</html>